body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    background-color: aqua;
    justify-content: center;

}

ul {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}

li {
    border: 1px solid #ccc;
    width: 400px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}



form {
    border: 1px solid #ccc;
    width: 400px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}